<app-loading *ngIf="loadingArtist"></app-loading>
<div clas="row md-5" *ngIf="!loadingArtist">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
    </div>


    <div clas="col">
        <h3>{{ artist.name }}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">Artist Page</a>
        </p>
    </div>
    <div class="col-10 text-right m-5">
        <button routerLink="/search" routerLinkActive="router-link-active" class="btn btn-outline-danger">Take me Back</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Artist Top Tracks</h2>
        <table class="table">

            <thead>
                <tr>
                    <th>photo</th>
                    <th>album</th>
                    <th>Song</th>
                    <th>play</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td><img [src]="track.album.images | noimage" class="img-thumb"></td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td>
                        <!--<audio [src]="track.preview_url" controls></audio>-->
                        <iframe [src]="track.uri | domseguro " width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>